<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" />

  <!-- Launch real-robot control -->
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true" />

  <!-- Launch the torque observer -->
  <arg name="arm_id" default="panda"/>
  <rosparam command="load" file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />
  <node name="tauObserver_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="external_torque_observer joint_impedance_lowlevel_controller"/>
  <node name="contact_aware_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="contact_aware_joint_trajectory_controller"/>
 
  <!-- By default use joint position controllers -->
  <arg name="transmission" default="position" />
  <!-- Start ROS controllers -->
  <!-- <include file="$(dirname)/ros_controllers.launch" pass_all_args="true" /> -->

  <!-- as well as MoveIt demo -->
  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by franka_control.launch -->
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple" />
  </include>
</launch>
